{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>BlockTrials - A BlockChain Based Clinical Trial Management System</title>
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="{% static 'CTPortal/css/simplebar.css' %}">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="{% static 'CTPortal/css/feather.css' %}">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="{% static 'CTPortal/css/daterangepicker.css' %}">
    <!-- App CSS -->
    <link rel="stylesheet" href="{% static 'CTPortal/css/app-light.css' %}" id="lightTheme">
    <link rel="stylesheet" href="{% static 'CTPortal/css/app-dark.css' %}" id="darkTheme" disabled>
  </head>
  <body class="vertical  light ">
    <div class="wrapper">
      <nav class="topnav navbar navbar-light">
        <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
          <i class="fe fe-menu navbar-toggler-icon"></i>
        </button>
        
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link text-muted my-2" href="#" id="modeSwitcher" data-mode="light">
              <i class="fe fe-sun fe-16"></i>
            </a>
          </li>
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-muted pr-0" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="avatar avatar-sm mt-2">
                <img src="{% static 'CTPortal/assets/avatars/face-1.png' %}" alt="..." class="avatar-img rounded-circle">
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Logout</a>
            </div>
          </li>
        </ul>
      </nav>
      <aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
        <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
          <i class="fe fe-x"><span class="sr-only"></span></i>
        </a>
        <nav class="vertnav navbar navbar-light">

        </nav>
      </aside>
      <main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
              <h1 class="page-title"></h1>
          <div class="row">

              

              <div class="col-md-4 mb-4">

                {% if CHAIN == 'Valid' %}

                  <div class="card shadow bg-primary text-white mb-4">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col-3 text-center">
                          <span class="circle circle-sm bg-primary-light">
                            <i class="fe fe-16 fe-check-circle text-white mb-0"></i>
                          </span>
                        </div>
                        <div class="col pr-0">
                          <p class="small text-light mb-0">Chain Status</p>
                          <span class="h3 mb-0 text-white">Valid</span>
                          <span class="small text-muted">Verified</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- <button type="button" class="btn mb-2 btn-success">Add New Block</button> -->
                  <button type="button" class="btn mb-2 btn-outline-secondary" data-toggle="modal" data-target="#varyModal" data-whatever="@mdo">Add New Block</button>

                  <div class="modal fade" id="varyModal" tabindex="-1" role="dialog" aria-labelledby="varyModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="varyModalLabel">Add New Block</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form action="SaveBlock" method="POST">

                            {%csrf_token%}
                            <div class="form-group mb-3"><label for="ParticipantEnrollmentNumber">ParticipantEnrollmentNumber </label><input type="text" id="ParticipantEnrollmentNumber" name="ParticipantEnrollmentNumber" class="form-control"></div>
                            <div class="form-group mb-3"><label for="Group">Group </label><input type="text" id="Group" name="Group" class="form-control"></div>
                            <div class="form-group mb-3"><label for="DateofEnrollment">DateofEnrollment</label><input type="text" id="DateofEnrollment" name="DateofEnrollment" class="form-control"></div>
                            <div class="form-group mb-3"><label for="Age">Age </label><input type="text" id="Age" name="Age" class="form-control"></div>
                            <div class="form-group mb-3"><label for="Sex">Sex </label><input type="text" id="Sex" name="Sex" class="form-control"></div>
                            <div class="form-group mb-3"><label for="Education">Education </label><input type="text" id="Education" name="Education" class="form-control"></div>
                            <div class="form-group mb-3"><label for="Allergy">Allergy </label><input type="text" id="Allergy" name="Allergy" class="form-control"></div>
                            <div class="form-group mb-3"><label for="Vaccine">Vaccine </label><input type="text" id="Vaccine" name="Vaccine" class="form-control"></div>
                            <div class="form-group mb-3"><label for="CoMorbidity">CoMorbidity </label><input type="text" id="CoMorbidity" name="CoMorbidity" class="form-control"></div>
                            <div class="form-group mb-3"><label for="FollowUpDate">FollowUpDate</label><input type="text" id="FollowUpDate" name="FollowUpDate" class="form-control"></div>
                            <div class="form-group mb-3"><label for="NoOfAntiHistamines">NoOfAntiHistamines</label><input type="text" id="NoOfAntiHistamines" name="NoOfAntiHistamines" class="form-control"></div>
                            <div class="form-group mb-3"><label for="LongCovidFatigueFollowUp">LongCovidFatigueFollowUp</label><input type="text" id="LongCovidFatigueFollowUp" name="LongCovidFatigueFollowUp" class="form-control"></div>
                            <div class="form-group mb-3"><label for="LongCovidFatigueFollowUpEnrollment">LongCovidFatigueFollowUpEnrollment</label><input type="text" id="LongCovidFatigueFollowUpEnrollment" name="LongCovidFatigueFollowUpEnrollment" class="form-control"></div>
                            <div class="form-group mb-3"><label for="Consent">Consent </label><input type="text" id="Consent" name="Consent" class="form-control"></div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn mb-2 btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn mb-2 btn-primary">Save</button>
                        </div>
                      </form>
                      </div>
                    </div>
                  </div>

                  {% else %}

                  <div class="card shadow bg-danger text-white mb-4">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col-3 text-center">
                          <span class="circle circle-sm bg-danger-light">
                            <i class="fe fe-16 fe-alert-circle text-white mb-0"></i>
                          </span>
                        </div>
                        <div class="col pr-0">
                          <p class="small text-light mb-0">Chain Status</p>
                          <span class="h3 mb-0 text-white">Invalid</span>
                          <span class="small text-muted">Chain is compromized</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  {% endif %}
                </div>
                <div class="col-md-8 mb-4">

                <div class="card shadow">
                  <div class="card-header">
                    <strong class="card-title">Block History</strong>
                    <a class="float-right small text-muted" href="#!">View all</a>
                  </div>
                  <div class="card-body">
                    <div class="list-group list-group-flush my-n3">
                      {% for m in NDF %}
                          <div class="list-group-item">
                            <div class="row align-items-center">
                              <div class="col-auto">
                                <span class="fe fe-box fe-24"></span>
                              </div>
                              <div class="col">
                                <small><strong>{{m.Mess}}</strong></small>
                                <div class="my-0 text-muted small">{{m.Hash}}</div>
                              </div>
                              <div class="col-auto">
                                <small class="badge badge-pill badge-light text-muted">{{m.Time}}</small>
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                  <!-- / .row -->
                    </div> <!-- / .list-group -->
                  </div> <!-- / .card-body -->
                </div> <!-- / .card -->

              </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-12 mb-4">
                <div class="card shadow">
                  <div class="card-body">
                    <h5 class="card-title">Chain Data</h5>
                    <p class="card-text"> 
                    </p>
                    <table class="table table-hover">
                      <thead class="thead-dark">
                        <tr>
                          <th>ID</th>
                          <th>Group</th>
                          <th>Date of Enrollment</th>
                          <th>Age</th>
                          <th>Sex</th>
                          <th>Education</th>
                          <th>Allergy</th>
                          <th>Vaccine</th>
                          <th>Co Morbidity</th>
                          <th>Follow Up Date </th>
                          <th>No Of Anti Histamines </th>
                          <th>Long Covid Fatigue FollowUp </th>
                          <th>Long CovidFatigue FollowUp Enrollment </th>
                          <th>Consent</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for x in CDF %}
                          <tr>
                            <td>{{x.ParticipantEnrollmentNumber}}</td>
                            <td>{{x.Group}}</td>
                            <td>{{x.DateofEnrollment}}</td>
                            <td>{{x.Age}}</td>
                            <td>{{x.Sex}}</td>
                            <td>{{x.Education}}</td>
                            <td>{{x.Allergy}}</td>
                            <td>{{x.Vaccine}}</td>
                            <td>{{x.CoMorbidity}}</td>
                            <td>{{x.FollowUpDate}}</td>
                            <td>{{x.NoOfAntiHistamines}}</td>
                            <td>{{x.LongCovidFatigueFollowUp}}</td>
                            <td>{{x.LongCovidFatigueFollowUpEnrollment}}</td>
                            <td>{{x.Consent}}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
      
       
      </main> <!-- main -->
    </div> <!-- .wrapper -->
    <script src="{% static 'CTPortal/js/jquery.min.js' %}"></script>
    <script src="{% static 'CTPortal/js/popper.min.js' %}"></script>
    <script src="{% static 'CTPortal/js/moment.min.js' %}"></script>
    <script src="{% static 'CTPortal/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'CTPortal/js/simplebar.min.js' %}"></script>
    <script src="{% static 'CTPortal/js/daterangepicker.js' %}"></script>
    <script src="{% static 'CTPortal/js/jquery.stickOnScroll.js' %}"></script>
    <script src="{% static 'CTPortal/js/tinycolor-min.js' %}"></script>
    <script src="{% static 'CTPortal/js/config.js' %}"></script>
    <script src="{% static 'CTPortal/js/apps.js' %}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>
  </body>
</html>